.container {
    border: solid grey 1px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: white;
}

.data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 25px;
    margin-left: 10px;
}

.teacher{
    margin-left: 25px;
}

.attendees{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    width: 150px;
    align-self: flex-end;
}
