.roomList{
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}

.roomList li{
    width: 500px;
    margin: 10px;
}

.searchTag{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 500px;
    height: 30px;
    margin: 10px 0 0 10px;
    color: white;
}

.searchTag input {
    border-radius: 5px;
    width: 175px;
    border: 1px solid grey;
}

.searchTag button{
    font-size: 12px;
    margin-left: 5px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;
    min-width: 50px;
}