.container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.container h2{
    margin: 10px;
    color: white;
}

.data{
    border: solid 1px grey;
    border-radius: 10px;
    padding: 10px 10px;
    width: 600px;
    background-color: white;
}

.data label{
    font-size: 16px;
}

.data input{
    font-size: 16px;
    color: black;
    margin-top: 5px;
    padding-left: 10px;
    border: 1px grey solid;
    border-radius: 5px;
    line-height: 30px;
}

.data input[disabled] {
    background-color: white;
    border-color: grey;
}

.attendeesText {
    margin-top: 5px;
    font-size: 16px;
}

.attendees{
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}